.hidden {
  display: none;
}

.flash {
  animation: flash-animation 1s infinite;
}

@keyframes flash-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@import url("https://fonts.googleapis.com");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}
:root{
    --background-main:#6395ee;
    --border-col:#94a3c0;
    --background-card:#b5c7eb;
    --background-card-secondary:#f0f0f0ff;
    --font-color-dark:#314462;
    --font-color-light:#3e577d;
    --hover-color:aliceblue;
}

#container {
    display: flex;
    flex-direction: column;
    width: 400px; /*Denna*/
    height:100%; /*Denna*/
    border:2px solid var(--border-col);
    justify-self: center;
    border-radius: 15px;
    background-color:var(--background-card);
    margin-top: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /*Denna*/
    margin-left: 35%;
}
.quiz-head{   
    display: flex;
    flex-direction: column;
    background-color:var(--background-card-secondary);  
    border-bottom:2px solid var(--border-col); 
    height:150px;
    color:var(--font-color-light);
    border-radius: 10px;
 
}

.quiz-head h1{
    font-size: 40px; 
    align-self: center;
    padding-top:20px;
}
.points{ 
    display: flex;
    height: 40px; 
    padding: 15px 15px;
    font-size: 20px;
   
}
.question{
    display: flex;
    font-weight: 600;
    border-radius: 5px;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px; 
    height: 100px;
    justify-content: center;
    text-align: center;
    color:var(--font-color-dark);

}
.hidden {
    display: none;
}
.answers{
    display: flex;
    margin: 20px 20px;
    height:330px;
    flex-direction: column;
    border-radius: 3px;
    align-items: center;
}

.answer {
    width: 75%;
    height: 50px;
    margin: 5px;
    border-style: none;
    font-size: 18px;
    color:var(--font-color-dark);
    border-radius: 5px;
}

.answer:hover  {
    background-color:  var(--hover-color);
    box-shadow: 9px 4px 8px 0 rgba(0, 0, 0, 0.2), 3px 6px 20px 3px rgba(0, 0, 0, 0.19);
}

.start-button{
    display: flex;
    margin-top: 400px;
    justify-content: center;
    justify-self: center;
    align-items: center;
    width: 200px;
    height: 100px;
    font-size: 25px;
    color:var(--font-color-dark);
    border-style: none;
    border-radius: 5px;
}
.start-button:hover{
    background-color: var(--hover-color);
    box-shadow: 9px 4px 8px 0 rgba(0, 0, 0, 0.2), 3px 6px 20px 3px rgba(0, 0, 0, 0.19);
}
